# Basic Python Practices

#### Exercise 00. Variable Declaration

Define the following variables with values of your choice:

- A variable that stores your name (text).
- A variable that stores your age (integer).
- A variable that indicates if you like programming (true or false).
- A variable that stores your average grade (decimal number).

In [ ]:
# Declare your variables here.
import numpy as np
import pandas as pd
name="María"
Age=46
program_loving=True
average_grade=7.7

#Example
greeting = "Hello world"

- Create a list with your five favorite numbers and print it.

In [16]:
# Favorite numbers list
fav_list=[4,7,13,15,25,44,77]
print(fav_list)

[4, 7, 13, 15, 25, 44, 77]

- Create a dictionary that stores a student's information and print it:

        - Name
        - Age
        - Final grade

In [17]:
#TODO
student_information={"Name":"Paca", "Age":35,"Final grade":5.5}
print(student_information)

{'Name': 'Paca', 'Age': 35, 'Final grade': 5.5}

#### Exercise 01. Basic data analysis with native Python structures.  
Create a list with the grades of 5 students: [8.5, 9.2, 7.8, 8.9, 10].

- Calculate the average of the grades.

In [21]:
# TODO
student_grades=[8.5,9.2,7.8,8.9,10]
ave_grade=np.mean(student_grades)

#print(ave_grade) sólo indica calcular, no mostrar en pantalla, pero lo dejo por si se quiere comprobar.

- Find the highest and lowest grade.

In [ ]:
hightest_grade=np.max(student_grades)
lowest_grade=np.min(student_grades)

#print(lowest_grade)

7.8

# Real estate data cleaning with Pandas for efficient analysis

This is a real dataset that was downloaded using web scraping techniques. The data contains records from **Fotocasa**, one of the most popular real estate websites in Spain. Please do not perform web scraping unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and no economic benefit was obtained from it.

It contains thousands of real house listings published on the website www.fotocasa.com. Your goal is to extract as much information as possible with the data science knowledge you have acquired so far.

Let's get started!

- First, let's read and explore the dataset.

In [6]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

- Display the first rows of the CSV file.

In [24]:
# TODO
ds.head()

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN

Perfect, this was a small practice. Now let's begin with the real exercises!

#### Exercise 01. What is the most expensive house in the entire dataset? (★☆☆)

Print the address and price of the selected house. For example:

`The house located at Calle del Prado, Nº20 is the most expensive, and its price is 5000000 USD.`

In [38]:
# TODO
#ds.columns
filter_ds=ds[["price","address"]]
#expensive_ds=filter_ds["price"].max()
exp_has= filter_ds.loc[filter_ds["price"].max()]
#new_ds=ds[ds["address"]["price"].max()]
print(expensive_ds)

KeyError: np.int64(8500000)

#### Exercise 02. What is the cheapest house in the dataset? (★☆☆)

This exercise is similar to the previous one, except now we are looking for the house with the lowest price. Remember to print the address and price of the selected house. For example:

`The house located at Calle Alcalá, Nº58 is the cheapest, and its price is 12000 USD.`

In [9]:
# TODO

#### Exercise 03. What is the largest and smallest house in the dataset? (★☆☆)

Print the address and area of the selected houses. For example:

`The largest house is located at Calle Gran Vía, Nº38, and its area is 5000 square meters.`

`The smallest house is located at Calle Mayor, Nº12, and its area is 200 square meters.`

This exercise is similar to the previous one, but we are looking for the largest and smallest houses based on their area.

In [10]:
# TODO

#### Exercise 04. How many unique populations are in the dataset? (★☆☆)

Count the number of unique populations in the 'level5' column and print the names of the populations separated by commas. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [11]:
# TODO

#### Exercise 05. Does the dataset contain null values (NAs)? (★☆☆)

Print a boolean (`True` or `False`) to check if there are null values, followed by the columns that contain NAs.

In [12]:
# TODO

#### Exercise 06. Remove the null values (NAs) from the dataset, if applicable (★★☆)

After removing the null values, compare the size of the DataFrame before and after the removal.

In [13]:
# TODO

#### Exercise 07. What is the average price in the population of "Arroyomolinos (Madrid)"? (★★☆)

Print the value obtained from the 'level5' column.

In [14]:
# TODO

#### Exercise 08. Plot the histogram of prices for the population of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write a brief analysis of the plot in the Markdown cell.

In [15]:
import matplotlib.pyplot as plt

# Plot the histogram of prices